body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container, .card-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: orange;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
}

button {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card h2 {
    color: orange;
}

.social-links {
    margin: 20px 0;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

#qrcode {
    margin-top: 20px;
}
